<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <fridays.authentication loginPath="/login" />

  <appSettings>
    <add key="enableSimpleMembership" value="false"/> <!-- prevent web matrix from enabling built-in authentication -->
  </appSettings>

  <system.web>
    <machineKey decryptionKey="18F4BDCD1F998305B37153E23D76AF9882C7559874A77A22" validationKey="59B5562219114E939E2D6CAE3054875247F8C5ED4AE25EF10A434FE24BE1B21D130979F2C5E7E6231C4E399FE1F4C424A96214ADA18A663788886AF293D30EA3" />
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>

  <location path="login">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="img/logo.png">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="img/logo-great-fridays-black.png">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>
